# Quality Report
Use this file to outline the test strategy for this package.

## Version tested: [0.10.0-preview.1]

## QA Owner: Natalia Whiteley
## UX Owner: David Lassonde

## Test strategy
* Manual test plan, [here](https://docs.google.com/document/d/1lSECBMIvNJrLC52Xp9bw-0a6Fw9CwnlQv7mogVKg1Aw/edit#heading=h.vnanqkbk62m)

## Package Status

